{% extends '@Dyg81Modal/baseModal.html.twig' %}

{% block modalContent %}
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% block modalHeader %}<p>{{ 'modal.message.confirm.title'|trans }}</p>{% endblock %}
    </div>
    <div class="modal-body">
      {% block modalBody %}<p>{{ 'modal.message.confirm.body'|trans }}</p>{% endblock %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'modal.button.close'|trans }}</button>

      {# If overwritting this template, the confirm button should have the class modal-btn-confirm. #}
      <button type="button" class="btn btn-primary modal-btn-confirm" data-dismiss="modal">{{ 'modal.button.confirm'|trans }}</button>
      {% block modalFooter %}{% endblock %}
    </div>
{% endblock %}
